.register {
  background: url(../assets/14.sze_1501989521.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}
.register-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  width: 500px;
  background: #fff;
  padding: 100px;
}
.register-form-button {
  width: 100%;
}
